<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
</head>
<body>
   
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate aspernatur voluptates quod
    <form action="">
   <input type="file" name="taking user input" id="userinput">
   <button link ="./homepage">home</button>
    </form>
    </p>
</body>
</html>